html, body {
    margin: 0;
    padding: 0;
    color: #393939;
}

#header {
    width: 100%;
    height: 80px;
    margin-left: 0;
    margin-top: 0;
    background-color: #374560;
}

#header .content {
    height: 80px;
    width: 1000px;
    margin: 0px auto;
}

#header .content .logo {
    margin-top: 7px;
}

#header .content .menu {
    margin-top: 30px;
}

#header .content .menu a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 30px 30px;
}

#header .content .menu a:hover, #header .content .menu .current a {
    color: #01c7d6;
}

#footer {
    width: 100%;
    height: 150px;
    background-color: #374560;
}

#footer .content {
    height: 150px;
    width: 1000px;
    margin: 0px auto;
    text-align: center;
    color: #ffffff;
    line-height: 150px;
    vertical-align: middle;
}