#body1 {
    width: 100%;
    height: 400px;
    background-color: #01c7d6;
}

#body1 .content {
    width: 1000px;
    height: 400px;
    margin: 0px auto;
}

#body1 .content .arrow_left {
    text-align: left;
    margin-top: 160px;
}

#body1 .content .arrow_right {
    text-align: right;
    margin-top: 160px;
}

#body1 .content .slider_content {
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#body2 {
    width: 100%;
    height: 375px;
    background-color: #ffffff;
}

#body2 .content {
    width: 1000px;
    height: 375px;
    margin: 0px auto;
}

#body2 .content p {
    font-size: 120%;
}

#body2 .content .info_column_1 {
    text-align: center;
    padding: 20px;
}

#body2 .content .info_column_2 {
    text-align: center;
    padding: 20px;
}

#body2 .content .info_column_3 {
    text-align: center;
    padding: 20px;
}

#body2 .content .info_column_4 {
    text-align: center;
    padding: 20px;
}

#body3 {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
}

#body3 .content {
    width: 600px;
    height: 200px;
    margin: 0px auto;
    text-align: center;
}

#body3 .content .title {
    padding-top: 10px;
    margin: 0px auto;
    width: 250px;
    text-decoration: none;
    border-bottom: 2px solid #01c7d6;
}

#body3 .content p {
    font-size: 120%;
}