#body1 {
    width: 100%;
    height: 400px;
    background-color: #01c7d6;
}

#body1 .content {
    width: 1000px;
    height: 400px;
    margin: 0px auto;
}

#body1 .content .side1 {
    color: #ffffff;
    float: left;
    width: 500px;
    height: 300px;
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#body1 .content .side1 .title {
    font-size: 50px;
    font-weight: 600;
}

#body1 .content .side1 .caption {
    padding-top: 20px;
    font-size: 20px;
}

#body1 .content .side1 .button1 {
    padding-top: 20px;
    float: left;
}

#body1 .content .side1 .button2 {
    padding-top: 20px;
    padding-right: 180px;
    float: right;
}

#body1 .content .side1 .font {
    background: #374560;
    font-size: 20px;
}

#body1 .content .side2 {
    float: right;
    width: 500px;
    height: 300px;
    padding-top: 50px;
    text-align: center;
}

#body2 {
    width: 100%;
    height: 625px;
    background-color: #ffffff;
}

#body2 .content {
    width: 1000px;
    height: 625px;
    margin: 0px auto;
}

#body2 .content .title {
    font-size: 48px;
    text-align: center;
    margin: 0px auto;
    width: 250px;
    text-decoration: none;
    border-bottom: 2px solid #01c7d6;
}
