.table {
    margin: 20px 10px;
    border: 1px solid #d0d0d0;
}

.table:hover {
    margin: 20px 10px;
    border: 1px solid #01c7d6;
}

.table .header {
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 5px 0px;
    background-color: #01c7d6;
}

.table .price {
    font-size: 100px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #01c7d6;
    border-bottom: 1px solid #d0d0d0;
}

.table .info {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.table .info li {
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #d0d0d0;
}

.table .info li:hover {

}

.table .button {
    text-align: center;
    padding: 15px 5px;
}

.table .button a {
    width: 100px;
    background-color: #01c7d6;
}